.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url("https://assets.bolder.run/themes/9169/ed-bg.jpg?1692902097");
}

.carrousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 75%;
  background-color: #81818180;
}

#carCarousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carousel-inner {
  text-align: center;
}

.carousel-caption {
  margin-top: 70px;
  font-size: 50px;
  font-family: "LouisBold", sans-serif;
  text-transform: uppercase;
  position: relative;
  bottom: 0;
  left: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 7rem;
  height: 10rem;
  background-size: 120%;
}