<div class="container-fluid">
  <div class="carrousel-container">
    <div id="carCarousel" class="carousel" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div *ngFor="let spec of car.specs; let i = index" class="carousel-item" [ngClass]="{'active': i === 0}">
          <img [src]="spec.img">
          <div class="carousel-caption d-block">
            <p>{{ spec.text }}</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>
