<!-- <div class="admin-panel">
    <h2>Eléctricos</h2>
    <table mat-table [dataSource]="electrics">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let car"> {{ car.name }} </td>
      </ng-container>
  
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let car">
          <input matInput [(ngModel)]="car.price" />
        </td>
      </ng-container>
  
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let car">
          <button mat-button (click)="updatePrice(car.id, car.price)">Actualizar</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
<br>
  <div class="admin-panel">
    <h2>Autos</h2>
    <table mat-table [dataSource]="autos">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let car"> {{ car.name }} </td>
      </ng-container>
  
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let car">
          <input matInput [(ngModel)]="car.price" />
        </td>
      </ng-container>
  
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let car">
          <button mat-button (click)="updatePrice(car.id, car.price)">Actualizar</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <br>
  <div class="admin-panel">
    <h2>Suvs</h2>
    <table mat-table [dataSource]="suvs">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let car"> {{ car.name }} </td>
      </ng-container>
  
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let car">
          <input matInput [(ngModel)]="car.price" />
        </td>
      </ng-container>
  
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let car">
          <button mat-button (click)="updatePrice(car.id, car.price)">Actualizar</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <br>
  <div class="admin-panel">
    <h2>Pickups</h2>
    <table mat-table [dataSource]="pickups">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let car"> {{ car.name }} </td>
      </ng-container>
  
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let car">
          <input matInput [(ngModel)]="car.price" />
        </td>
      </ng-container>
  
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let car">
          <button mat-button (click)="updatePrice(car.id, car.price)">Actualizar</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  
   -->