<!-- Popup More Info -->
<div *ngIf="showPopup">
    <div class="more-info os-more">
        <a class="close-button" href="#" (click)="closePopup($event)">Cerrar Planes</a>
        <h1>Planes</h1>
        <div class="more-col-wrapper">
            <div class="more-col">
                <img class="col-logo" src="https://assets.bolder.run/themes/9169/logo-chevrolet.png?1692902093"
                    alt="">
                <h2>STANDARD CONNECT*<br> GRATIS POR 10 AÑOS</h2>
                <p>El Plan Standard Connect es gratuito, el Cliente debe aceptar los términos y condiciones en el
                    momento de la activación del registro, para tener acceso a este plan de Servicios:</p>
                <ul>
                    <li>Diagnóstico del vehículo (2)</li>
                    <li>Alertas del diagnóstico (2)</li>
                    <li>Notificación de Mantenimiento/Revisión para el concesionario.</li>
                    <li>Conductor Inteligente Chevrolet* (3)</li>
                </ul>
            </div>

            <div class="more-col">
                <img class="col-logo" src="https://assets.bolder.run/themes/9169/os-logo1.png?1692902098" alt="">
                <h2>PROTECT</h2>
                <span class="precio-onstar">$13,990 POR MES <br> (IVA INCLUIDO)</span>
                <p>El Plan Protect tiene todos los Servicios del Plan Standard Connect más los Servicios de seguridad y
                    emergencia.</p>
                <ul>
                    <li>Respuesta Automática de colisión</li>
                    <li>Servicios de emergencia</li>
                    <li>Recuperación vehicular por hurto</li>
                    <li>Asistencia en Ruta</li>
                    <li>Buen Samaritano</li>
                </ul>
            </div>

            <div class="more-col">
                <img class="col-logo" src="https://assets.bolder.run/themes/9169/os-logo1.png?1692902098" alt="">
                <h2>CONNECT</h2>
                <span class="precio-onstar">$9,990 POR MES <br> (IVA INCLUIDO)</span>
                <p>El Plan Connect tiene todos los Servicios del Plan Standard Connect más los servicios conectados que
                    permiten una mejor interacción con tu auto.</p>
                <ul>
                    <li>Comandos Remotos</li>
                    <li>Estatus del vehículo</li>
                    <li>Localízame</li>
                    <li>Diagnóstico bajo demanda</li>
                    <li>MyChevrolet App</li>
                    <li>Centro de Propietario</li>
                </ul>
            </div>

            <div class="more-col">
                <div class="align-logos">
                    <img class="col-logo"
                        src="https://assets.bolder.run/themes/9169/logo-chevrolet.png?1692902093" alt="">
                    <img class="col-logo" src="https://assets.bolder.run/themes/9169/os-logo1.png?1692902098" alt="">
                </div>
                <h2>PROTECT & CONNECT</h2>
                <span class="precio-onstar">$18,990 POR MES <br> (IVA INCLUIDO)</span>
                <p>El Plan Protect tiene todos los Servicios del Plan Standard Connect más los Servicios de seguridad y
                    emergencia.</p>
                <ul>
                    <li>Respuesta Automática de colisión</li>
                    <li>Servicios de emergencia</li>
                    <li>Recuperación vehicular por hurto</li>
                    <li>Asistencia en Ruta</li>
                    <li>Buen Samaritano</li>
                </ul>
            </div>
        </div>
    </div>
</div>