<header class="top-bar">
    <div class="logo-container">
        <a routerLink="/">
            <img class="collection-logo" src="https://assets.bolder.run/themes/9169/logo-chevrolet.png?1692902093"
                alt="Chevrolet Logo">
        </a>
    </div>
    <div class="button-container">
        <a routerLink="/" class="btn-back-home">
            <span class="arrow-left"></span>
            Volver al Home</a>
    </div>
</header>

<div class="full-screen">
    <mat-tab-group [selectedIndex]="selectedTabIndex">
        <mat-tab label="Autos" >
            <div class="tab-content">
                <mat-card *ngFor="let car of autos"  class="car-card" (click)="goToProduct(car)">
                    <img mat-card-image [src]="car.image" alt="{{ car.name }}">
                    <mat-card-title>{{ car.name }}</mat-card-title>
                    <mat-card-content>
                        <p class="price">Desde: <span>{{ car.price }}</span></p>
                    </mat-card-content>                     
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Pick-Ups & Vans">
            <div class="tab-content">
                <mat-card *ngFor="let car of pickups" class="car-card" (click)="goToProduct(car)">
                    <img mat-card-image [src]="car.image" alt="{{ car.name }}">
                    <mat-card-title>{{ car.name }}</mat-card-title>
                    <mat-card-content>
                        <p class="price">Desde: <span>{{ car.price }}</span></p>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="SUVs">
            <div class="tab-content">
                <mat-card *ngFor="let car of suvs" class="car-card" (click)="goToProduct(car)">
                    <img mat-card-image [src]="car.image" alt="{{ car.name }}">
                    <mat-card-title>{{ car.name }}</mat-card-title>
                    <mat-card-content>
                        <p class="price">Desde: <span>{{ car.price }}</span></p>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Eléctricos">
            <div class="tab-content">
                <mat-card *ngFor="let car of electrics" class="car-card" (click)="goToProduct(car)">
                    <img mat-card-image [src]="car.image" alt="{{ car.name }}">
                    <mat-card-title>{{ car.name }}</mat-card-title>
                    <mat-card-content>
                        <p class="price">Desde: <span>{{ car.price }}</span></p>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>