.top-bar {
  display: none;
}

@media (max-width: 768px) {
  .top-bar {
    width: 100%;
    background-color: gray;
    font-weight: bold;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .back-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;
    left: 10px;

    mat-icon {
      font-size: 24px;
      color: white;
      font-weight: bold;
    }
  }

  .title {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    font-weight: bold;
  }
}

.button-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  padding-top: 40px;
  margin-left: 80px;
  z-index: 9999;
}

.btn-back-home {
  display: inline-block;
  color: #fff;
  background-color: #686868;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.2;
}

.arrow-left {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

