<div class="top-bar">
  <button class="back-button" (click)="navigateBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1 class="title">Catálogo</h1>
</div>

<div class="button-container">
  <a (click)="navigateBack()" class="btn-back-home">
    <span class="arrow-left"></span>
    Volver
  </a>
</div>

<div class="button-back">
  <a routerLink="/home" class="btn-back-home">
    <span class="arrow-left"></span>
    Volver al Home
  </a>
</div>

<router-outlet></router-outlet>
<app-bottom-menu [car]="car"></app-bottom-menu>
