<div class="grid-container">
    <div class="grid-item">
      <img src="https://r.btcdn.co/11643/original/915231-AUTOS.jpg" alt="Autos">
    </div>
    <div class="grid-item">
      <img src="https://r.btcdn.co/11643/original/779223-PICKUP_-_COLORADO.jpg" alt="Pickup Colorado">
    </div>
    <div class="grid-item">
      <img src="https://r.btcdn.co/11643/original/779224-TRAVERESE_-_SUV_2.jpg" alt="Traverse SUV">
    </div>
    <div class="grid-item">
      <img src="https://r.btcdn.co/11643/original/915577-04-bolt-galeria-ext.jpg" alt="Bolt EV">
    </div>
  </div>
  