<div class="grid-container">
  <div class="grid-item">
    <div class="overlay">
      <img src="https://r.btcdn.co/11643/original/915231-AUTOS.jpg" alt="Autos">
      <h2>AUTOS</h2>
    </div>
  </div>
  <div class="grid-item">
    <div class="overlay">
      <img src="https://r.btcdn.co/11643/original/779223-PICKUP_-_COLORADO.jpg" alt="Pickup Colorado">
      <h2>PICKUP COLORADO</h2>
    </div>
  </div>  
  <div class="grid-item">
    <div class="overlay">
      <img src="https://r.btcdn.co/11643/original/779224-TRAVERESE_-_SUV_2.jpg" alt="Traverse SUV">
      <h2>TRAVERSE SUV</h2>
    </div>
  </div>
  <div class="grid-item">
    <div class="overlay">
      <img src="https://r.btcdn.co/11643/original/915577-04-bolt-galeria-ext.jpg" alt="Bolt EV">
      <h2>BOLT EV</h2>
    </div>
  </div>
</div>
