.iframe-container {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.iframe-content {
  width: 100%;
  height: 100%;
  background-image: url("https://assets.bolder.run/themes/9169/ed-bg.jpg?1692902097");
}
